.sliderOFprojectinfo {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: start;
    justify-content: end;
}

.sliderOFprojectinfo .slider {
    height: 100%;
    width: 430px;
    background: var(--Color-Background-Primary, rgba(248, 251, 252, 1));
    border-radius: 20px 0 0 20px;
    padding: 48px 24px;
}

.sliderOFprojectinfo .slider .projectName {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

.sliderOFprojectinfo .slider .projectName h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.sliderOFprojectinfo .slider .projectName button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.StatusContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sliderOFprojectinfo .slider .StatusOFproject {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sliderOFprojectinfo .slider .StatusOFproject label {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

.sliderOFprojectinfo .slider .StatusOFproject label .dote {
    width: 12px;
    height: 12px;
    background: var(--Colors-Primary-500, rgba(60, 151, 175, 1));
    border-radius: 50%;
}

.sliderOFprojectinfo .slider .StatusOFproject label a {
    color: var(--Colors-Info-500, rgba(49, 130, 206, 1));
    text-decoration: none;
}

.sliderOFprojectinfo .slider .StatusOFproject label span {
    color: var(--Color-Text-Secondary, rgba(153, 153, 153, 1));
}

.chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}

.ChartText {
    font-size: 16px;
    font-weight: bold;
    color: #808080;
}


.sliderOFprojectinfo .slider .sliderDescription {
    height: 100px;
    border-bottom: 1px solid var(--Color-Border-Neutral, rgba(191, 191, 191, 1));
    border-top: 1px solid var(--Color-Border-Neutral, rgba(191, 191, 191, 1));
    margin-top: 24px;
    padding-top: 24px;
    padding-bottom: 24px;

}

.sliderOFprojectinfo .slider .sliderDescription h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 6px;
}

.sliderOFprojectinfo .slider .sliderDescription p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--Color-Text-Secondary, rgba(153, 153, 153, 1));
}

.sliderOFprojectinfo .slider .sliderDescription p button {
    background-color: transparent;
    border: none;
    color: var(--Color-Primary-Primary, rgba(60, 151, 175, 1));
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700
}

.sliderOFprojectinfo .freeLancerList {
    margin-top: 32px;
}

.sliderOFprojectinfo .freeLancerList h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.freelancerApplied {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    margin-top: 24px;
}

.singleFreeLancer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.freeLancerInfo {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.freeLancerInfo img {
    width: 34px;
    height: 34px;
}

.freeLancerInfo .freeLancerText h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.freeLancerInfo .freeLancerText p {
    color: var(--Color-Text-Secondary, rgba(153, 153, 153, 1));
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

button.acceptFreeLancer {
    border: none;
    background: var(--Colors-Success-100, rgba(221, 248, 231, 1));
    color: var(--Colors-Success-500, rgba(31, 173, 88, 1));
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-radius: 30px;
    text-align: center;
    width: 76px;
    height: 34px;
    margin-right: 8px;
}

button.declineFreeLancer {
    border: none;
    background: var(--Colors-Error-100, rgba(255, 214, 214, 1));
    color: var(--Colors-Error-500, rgba(235, 0, 0, 1));
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-radius: 30px;
    text-align: center;
    width: 76px;
    height: 34px;
}

.projects button {
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 2px 8px 0px #3c97af14;
    background-color: #fff;
    border: none;
}

.tasksSection {
    margin: 20px 0;
    position: relative;
}



.addTaskButton {
    position: absolute;
    top: 0;
    right: 0;
    background: #3C97AF;
    color: #fff;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
}

.titelText{
    margin-top: 10px;
}


.taskTabs {
    display: flex;
    margin: 10px 0;
    border-radius: 40px;
    background-color: #3C97AF0F;

}

.tab {
    flex: 1;
    padding: 12px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #0A0A0A;
    border: 1px solid transparent;
    border-radius: 24px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    height: 50px;

}

.tab:hover {
    background: #CCE7ED;
    background: #d9d9d9;
    border-radius: 40px;
    height: 40px;
    padding-top: 8px;
    gap: 10px;
    margin: auto;
}

.activeTab {
    background: #3C97AF;
    color: #fff;
    border: 2px solid #3C97AF;
    border-radius: 40px;
    height: 40px;
    padding-top: 8px;
    gap: 10px;
    margin: auto;

}

.task {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;

}

.task p {
    margin-left: 10px;
    margin-right: 70px;
    
}


.editButton {
    background: none;
    border: none;
    color: #FFBF00;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 5px;
}

.deleteButton {
    background: none;
    border: none;
    color: #E4636F;
    cursor: pointer;
    font-size: 1rem;
}

.checkbox {
    margin-right: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: solid #ccc;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    position: relative;
}

.checkbox:checked {
    background-color: var(--Colors-Success-600, #198A46);
    border-color: var(--Colors-Success-600, #198A46);
}

.checkbox:checked::before {
    content: "✔";
    color: white;
    font-size: 12px;
    position: absolute;
    text-align: center;
    line-height: 12px;
}

.checkboxLabel {
    font-size: 16px;
    cursor: pointer;
}

.doneTask {
    text-decoration: line-through;
}

.subList {
    width: Fixed 124px;
    height: Fixed 76px;
    padding: 10px;
    gap: 6px;
    border-radius: 16px;
    background: #F8FBFC;
    box-shadow: 1px 2px 8px 0px #21868E40;
    position: absolute;
    top: 44px;
    z-index: 10;

}

.subListItems li {
    list-style: none;
}


@media screen and (max-width: 400px) and (min-width:300px) {
    .sliderOFprojectinfo .slider {
        height: 100%;
        width: 100%
    }

    .chartContainer {
        margin-left: 40px;
    }

}