#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  #popup-overlay .popup-content {
    background: #F8FBFC;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: auto;
}
#popup-overlay .popup-content .headOfResponsive{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 32px;
}
#popup-overlay .popup-content .headOfResponsive h1{
  font-size: 20px;
  font-weight: 700;
  width: 80%;
  text-align: left;
}
#popup-overlay .popup-content .headOfResponsive button.webClose {
  background-color: transparent;
  border: none;
  font-size: 20px;
}
#popup-overlay .popup-content .headOfResponsive button.mobileClose{
  display: none;
  background-color: transparent;
  border: none;
  font-size: 20px;
}
@media screen and (max-width:700px){
    #popup-overlay .popup-content {
      width: 100%;
      position: fixed;
      bottom: 0;
      max-width: 100%;
      height: 100% !important;
  }
  #popup-overlay .popup-content .headOfResponsive button.mobileClose {
    display: block;
  }
  #popup-overlay .popup-content .headOfResponsive button.webClose {
    display: none;
  }
  #popup-overlay .popup-content .headOfResponsive{
    justify-content: start;
    gap: 26px;
  }
}