.otp-input {
  width: 50px !important;
  height: 50px;
  margin: 6px 0px;
  border-radius: 8px;
  border: 1px solid #BFBFBF;
  font-size: 18px;
  color: #333;
  outline: none;
}
.otp-input:focus {
  background-color: #3c96af29;
  border: 1px solid #3c97af;
  color: #3c97af;
  font-size: 16px;
  font-weight: 640;
  border-color: #3c97af;
  outline: none;
}
.otp-input:not(:placeholder-shown) {
  background-color: #3c96af29;
  border: 1px solid #3c97af;
  color: #3c97af;
  font-size: 16px;
  font-weight: 640;
}

@media (max-width: 660px) {

}