.content {
  display: flex;
  gap: 24px;
  margin-top: 30px;
}

.content .section1 {
  height: 80vh;
  overflow-y: auto;
  scrollbar-width: none;
  width: 23%;
  min-width: 300px;
}

.content .section2 {
  height: 80vh;
  overflow-y: auto;
  scrollbar-width: none;
  width: 76%;
  height: 80vh;
  overflow-y: auto;
  scrollbar-width: none;
}

.content .section3 {
  height: 80vh;
  overflow-y: auto;
  scrollbar-width: none;
  width: 32%;
  min-width: 400px;
}

.content .section1 .userInfo {
  text-align: center;
}

.content .section1 .userInfo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.content .section1 .userInfo p.name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.content .section1 .userInfo .rate {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}
.content .section1 .userInfo .rate span {
  color: #999999;
  font-size: 14px;
}
.content .section1 .userInfo a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 48px;
  padding: 8px 10px 8px 10px;
  gap: 16px;
  border: none;
  color: #fff;
  border-radius: 16px;
  opacity: 0px;
  background-color: #3c97af;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .section1 .about .aboutHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .section1 .about .aboutHead b {
  font-size: 18px;
}

.content .section1 .about p {
  color: #999;
  margin-top: 16px;
  line-height: 1.4;
}

.content .section1 .history .historyHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .section1 .history .historyHead .actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.content .section1 .history .projectItem {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.content .section1 .history .projectItem .guid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .section1 .history .projectItem .guid .dot {
  width: 12px;
  height: 12px;
  background-color: #3c97af;
  border-radius: 50%;
}

.content .section1 .history .projectItem .guid .line {
  width: 2px;
  height: 100%;
  background-color: #3c97af;
  margin-bottom: 4px;
  flex: 1;
  margin-top: 4px;
}

.content .section1 .history .projectItem .itemInfo h4 {
  font-size: 16px;
}
.content .section1 .history .projectItem .itemInfo small {
  color: #999;
}
.content .section1 .history .projectItem .itemInfo .itemDesc {
  color: #0a0a0a;
  font-size: 14px;
  line-height: 1.3;
  margin-top: 16px;
  max-width: 80%;
}

.section2 .postBox {
  display: flex;
  gap: 8px;
  align-items: center;
}

.section2 .postBox .postInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  border: 1px solid #ebebeb;
  background-color: #fafafa;
  flex: 1;
  border-radius: 16px;
  padding: 0px 16px;
  cursor: text;
}

.section2 .postBox img {
  width: 75px;
  height: 75px;
}

.section2 .postBox .postInput .postInputHint {
  color: #999;
  font-size: 14px;
}

.section2 .postBox .addBtn {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: none;
  background-color: #3c97af;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.moreInfo {
  margin-top: 16px;
}

.moreInfo .infoTitle {
  font-size: 16px;
}
.moreInfo .infoValue {
  font-size: 14px;
  color: #999;
  margin-top: 8px;
}

.section3 {
  width: 50px !important;
}

.recentHead {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.more {
  color: #3c97af;
  cursor: pointer;
}

.recentTitle {
  font-size: 18px;
}

.recentItem {
  max-height: 70px;
  margin-top: 16px;
  overflow: hidden;
  border-bottom: 1px solid #f2f2f2;
  transition: 0.5s;
}

.recentItem.active {
  max-height: 300px;
}

.recentItem .recentHead {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.recentItem:last-child {
  border-bottom: none;
}

.recentItemInfo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.recentItemAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddf8e7;
}

.arrowBtn {
  height: 42px;
  width: 42px;
  background-color: #3c97af;
  border: none;
  transition: 0.5s;
  border-radius: 50%;
}
.ArrowTop {
  align-items: center;
}
.arrowBtn.active {
  transform: rotateZ(-180deg);
}

.recentItemInfo b {
  font-size: 16px;
}
.recentItemInfo small {
  color: #999;
  display: block;
  margin-top: 6px;
}

.formerCoworkers .formerCoworkersHead {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.formerCoworkersTitle {
  font-size: 18px;
}

.coWorkerItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.coWorkerInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.coWorkerInfo b {
  font-size: 16px;
}
.coWorkerInfo small {
  color: #999;
  display: block;
  margin-top: 6px;
}

.coWorkerItem .rate {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.coWorkerItem .rate span {
  color: #999999;
  font-size: 14px;
}

.coWorkerInfo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.projectDescription {
  color: rgba(153, 153, 153, 1);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 24px;
}
.mainFreeLancerScreenSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
}
.FreeLancerScreenSearch {
  width: 100%;
  height: 58px;
  border-radius: 24px;
  background-color: #ffffff;
  border: 1px solid #bfbfbf;
  padding: 16px 24px;
  align-items: center;
  display: flex;
  gap: 8px;
  box-shadow: 0px 2px 8px 0px #3c97af14;
}
.SearchInput {
  border: none;
  height: 100%;
  width: 100%;
}
.SearchInput:focus {
  outline: none;
}

.SearchBtn {
  width: 105px;
  height: 58px;
  padding: 10px;
  border-radius: 24px;
  border: 1px solid #bfbfbf;
  background-color: #ffffff;
  color: #999999;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.5px;
  text-align: center;
  text-decoration-skip-ink: none;
  cursor: pointer;
}
.FilterResponsiveBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px 0px #3c97af14;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 16px;
  display: none;
}

.freeLancerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clearAll {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #d92637;
  cursor: pointer;
}
.filterHead {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}
.specializationFilter {
  padding-top: 24px;
}
.specializationHead {
  color: #808080;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.specializationBody {
  padding-top: 16px;
}
.spacing {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.Options {
  display: flex;
  align-items: center;
  gap: 8px;
}
.btn {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px #bfbfbf solid;
  background-color: #ffffff;
  cursor: pointer;
}
.btnGreen {
  background-color: #3c97af;
  border: none;
}
.mobileSearch {
  display: none;
}
.showingUp {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  gap: 8px;
  margin-top: 16px;
}
.insideShowingUp {
  display: flex;
  flex-direction: row;
  gap: 8px;
  box-shadow: 0px 2px 8px 0px #3c97af14;
  background-color: #ffffff;
  border-radius: 16px;
  width: 21%;
  padding: 8.5px 10px;
  align-items: center;
  margin: 8px;
}
@media (max-width: 950px) {
  .mainFreeLancerScreenSearch {
    gap: 12px;
  }
  .postBox {
    width: 100%;
  }
  .showingUp {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .FreeLancerScreenSearch {
    border: none;
  }
  .section2 {
    width: 100% !important;
  }
  .SearchBtn {
    display: none;
  }
  .FilterResponsiveBtn {
    display: block;
  }
}
@media (max-width: 1240px) {
  .mainFreeLancerScreenSearch {
    gap: 12px;
  }
  .postBox {
    width: 100%;
  }
  .FreeLancerScreenSearch {
    border: none;
  }
  .section2 {
    width: 100% !important;
  }
}
@media (max-width: 1202px) {
  .content .section3 {
    min-width: 350px;
    transition: 0.3s;
  }
}

@media (max-width: 1147px) {
  .content .section3 {
    min-width: 300px;
    transition: 0.5s;
  }
  .recentItem .recentHead {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .recentItemInfo b {
    font-size: 14px;
  }
  .recentItemInfo small {
    color: #999;
  }
  .more {
    font-size: 12px;
  }

  .recentTitle {
    font-size: 14px;
  }
}
@media (max-width: 1098px) {
  .content .section3 {
    min-width: 250px;
    transition: 0.5s;
  }
  .recentItem .recentHead {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .recentItemInfo b {
    font-size: 12px;
  }
  .arrowBtn {
    width: 30px;
    height: 30px;
  }
  .recentItemInfo small {
    color: #999;
  }
  .more {
    font-size: 10px;
  }

  .recentTitle {
    font-size: 12px;
  }
  .formerCoworkersTitle {
    font-size: 14px;
  }
  .coWorkerInfo b {
    font-size: 14px;
  }
  .projectPrice {
    font-size: 10px;
  }
  .projectDescription {
    font-size: 10px;
  }
  .time {
    font-size: 10px;
  }
}
@media (max-width: 1050px) {
  .section3 {
    display: none;
  }
}

@media (max-width: 950px) {
  .section3 {
    display: none;
  }
  .section1 {
    display: none;
  }
  .postBoxCont {
    display: none;
  }
  .mobileSearch {
    display: block;
  }
  .mobileSearch {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .mobileInputForm {
    background-color: #fff;
    width: 90%;
    box-shadow: 0px 2px 8px 0px #3c97af14;
    height: 55px;
    border-radius: 16px;
    padding: 0 16px;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .drawerHeadr h3 {
    font-size: 20px;
  }
  .moblieInput {
    border: none;
    width: 100%;
  }
  .moblieInput::placeholder {
    font-size: 16px;
    color: #bfbfbf;
  }
  .moblieInput:focus {
    outline: none;
    border: none;
  }
  .filterBtn {
    background-color: #fff;
    box-shadow: 0px 2px 8px 0px #3c97af14;
    width: 55px;
    height: 55px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .filterBtn:hover {
    background-color: #e1e1e1;
  }
  .filterBtn:active {
    background-color: #f1f1f1;
  }
  .mobileDrawer {
    padding: 20px;
    width: 100%;
  }
  .drawerHeadr {
    display: flex;
    justify-content: space-between;
  }
  .closeBtn {
    border: none;
    background-color: transparent;
    margin-top: 2px;
  }
  .specializationFilter {
    padding-top: 1px;
  }
  .specializationHead {
    color: #808080;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .specializationBody {
    padding-top: 16px;
  }
  .spacing {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .Options {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .drawerBtn {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 55px;
  }
  .cancelSort {
    border: none;
    border: 1px solid #3c97af;
    background-color: #fff;
    width: 100%;
    height: 55px;
    border-radius: 18px;
    color: #3c97af;
    cursor: pointer;
  }
  .apply {
    border: none;
    background-color: #3c97af;
    width: 100%;
    height: 55px;
    border-radius: 18px;
    color: #fff;
    cursor: pointer;
  }
  .drwerTopLine {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 5px;
    background-color: #61646b;
    border-radius: 50px;
    margin-top: 12px;
  }
  .mobileDrawerCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}
